<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FlyTrap</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/css/semantic-ui/tabulator_semantic-ui.min.css"
    rel="stylesheet">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.4.3/js/tabulator.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">

  <style>
    .mdl-layout__header,
    .mdl-layout__tab-bar,
    .mdl-layout__tab-bar-button {
      background-color: grey;
    }

    .page-content {
      margin: 5em;
    }

    .date-pickers {
      margin: 10px 0;
    }

    .results {
      display: none;
    }
  </style>

</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <img src="static/logo.png" width="5%" height="100%" />
        <span class="mdl-layout-title">FlyTrap Overview Utility 0.1</span>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Audits</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab">Summaries</a>
        <a href="#fixed-tab-3" class="mdl-layout__tab">Topic/Person</a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">

        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <form action="#" class="fetch-form">
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" cols=50 style="width:30em" type="textarea" class="contract-addr"
                  name="address" value="{{.Contract}}">
                Contract's Public Address
              </div>
            </div>
            <div class="date-pickers">
              <input type="date" class="date-start" name="start">
              <label for="date-start">Start</label>
            </div>
            <div class="date-pickers">
              <input type="date" class="date-end" name="end">
              <label for="date-end">End</label>
            </div>
            <div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored fetch-button"
                type="submit">
                Fetch
              </button>
            </div>
          </form>
          <h2> Audit trail for operations on blockchain
            <div id="audit-table"></div>
        </section>

        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
          <form action="#" class="fetch-form">
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" cols=50 style="width:30em" type="textarea" class="contract-addr"
                  name="address" value="{{.Contract}}">
                Contract's Public Address
              </div>
            </div>
            <div class="date-pickers">
              <input type="date" class="date-start" name="start">
              <label for="date-start">Start</label>
            </div>
            <div class="date-pickers">
              <input type="date" class="date-end" name="end">
              <label for="date-end">End</label>
            </div>
            <div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored fetch-button"
                type="submit">
                Fetch
              </button>
            </div>
          </form>
          <h2> Access summaries for sensitive topics </h2>
          <div id="summary-table"></div>
        </section>

        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col form-div">
              <form action="#" class="query-form">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" cols=50 style="width:30em" type="textarea" class="contract-addr"
                    name="address" value="{{.Contract}}">
                  Contract's Public Address
                </div>

                <div class="date-pickers">
                  <input type="date" class="date-today" id="result-date-input" name="start">
                  <label for="date-start">Date</label>
                </div>

                <div class="person">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input detailed-input" id="person-input" style="width:30em" type="text"
                      name="person" placeholder="Person to query">
                  </div>
                </div>

                <div class="topic">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input detailed-input" id="topic-input" style="width:20em" type="text"
                      name="topic" placeholder="Topic to query">
                  </div>
                </div>
                <div class="actions">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored fetch-button"
                    type="submit">
                    Fetch
                  </button>
                </div>

              </form>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              <div class="results">
                <p style="font-size: 20px" ;>Following resource "<span id="result-entity"></span>" was accessible by /
                  had access to the following entities at the end of <span id="result-date"></span>:</p>
                <p>Publishing:</p>
                <ul id="publishing-list">
                </ul>
                <p>Subscribing:</p>
                <ul id="subscribing-list">
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div id="toast" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
      </div>
    </main>
  </div>

</body>
<footer>
  <script src="static/script.js"></script>
</footer>

</html>
